* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(255,105,0);
    padding: 1rem 0;
}

nav .container .nav-section a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.container {
    width: 920px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w3-large {
    color: white;
}