/*TAGS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    color: white;
    margin-bottom: 100px;
}

.container .nav-section a {
    color: white;
}

nav .container .nav-section.spaziata a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.container-left span {
    padding-left: 10px;
}

.container-imgs img {
    width: 18px;
    padding-top: 5px;
    padding-left: 2px;
}

/*CLASSES*/
.card .img-container .mainimg {
    width: 100%;
    opacity: 1;
    z-index: 2;
}

.hoverimg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.box-extra,
.box-heart {
    z-index: 2;
}

.hoverimg:hover{
    opacity: 1;
}

.nav-container {
    width: 100%;
    height: 4rem;
    background-color: rgb(255, 105, 0);
    position: fixed;
    z-index: 5;
}

.container.flex-spacing {
    position: fixed;
    left: calc(50% - 460px);
    top: 1rem;
    z-index: 5;
}

.container {
    width: 920px;
    margin: 0 auto;
}

.flex-spacing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.major.container {
    display: flex;
    column-gap: 10px;
}

.card-container {
    flex-basis: 30%;
    flex-grow: 1;
}

.card {
    position: relative;
}

.card-container .card .box-heart{
    position: absolute;
    background: white;
    width: 50px;
    height: 50px;
    right: 0;
    top: 10px;
}

.card-container .card .box-extra{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    bottom: 7px;
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}


.discount {
    background-color: red;
    padding: 2px;
    color: white;
}

.ecologic{
    background-color:green;
    padding: 2px;
    color: white;
}

.heart {
    font-size: 40px;
    text-align: center;
}

.small {
    font-size: 12px;
    color: rgb(77, 77, 77);
}

.grassetto {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.redded {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.barred {
    text-decoration: line-through;
}

.second {
    margin-top: 50px;
    margin-bottom: 80px;
}

.footer-container {
    width: 100%;
    background-color: rgb(26,26,26);
    color: white;
}

footer .footer-container .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padded {
    padding: 30px 0;
    vertical-align: middle;
}

/*ID*/
.container-left #no-pad-left {
    padding-left: 0;
}

.nav-section.spaziata #no-pad-right {
    padding-right: 0;
}